*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f8fafc;
    color:#333;
}

/* Navbar */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#10B981;
}

nav a{
    text-decoration:none;
    margin-left:25px;
    color:#333;
    font-weight:600;
}

.login-btn{
    background:#10B981;
    color:white;
    padding:10px 22px;
    border-radius:30px;
}

/* Hero */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 8%;
    gap:40px;
}

.hero-text{
    width:55%;
}

.hero-text h1{
    font-size:48px;
    color:#10B981;
    margin-bottom:20px;
}

.hero-text p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:30px;
}

.buttons a{
    text-decoration:none;
    padding:14px 28px;
    border-radius:30px;
    margin-right:15px;
    font-weight:bold;
}

.btn-green{
    background:#10B981;
    color:white;
}

.btn-white{
    background:white;
    color:#10B981;
    border:2px solid #10B981;
}

.hero-image img{
    width:320px;
}

/* Fitur */

.fitur{
    display:flex;
    gap:25px;
    padding:50px 8%;
}

.card{
    background:white;
    flex:1;
    padding:30px;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    color:#10B981;
    margin-bottom:15px;
}

/* Statistik */

.statistik{
    display:flex;
    justify-content:space-around;
    background:#10B981;
    color:white;
    padding:50px;
    text-align:center;
}

.statistik h2{
    font-size:42px;
}

footer{
    background:#fff;
    text-align:center;
    padding:30px;
}

footer h3{
    color:#10B981;
    margin-bottom:10px;
}